.user-info-container {
  height: 14vh;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  color: #333; /* Цвет текста */
}

.user-info-container h2 {
  margin-bottom: 10px;
  font-size: 18px;
}

