.auth-page {
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tabs {
  display: flex;
  margin-bottom: 20px;
}

.tabs button {
  flex: 1;
  padding: 10px;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  color: #666;
  cursor: pointer;
  font-size: 16px;
  outline: none;
}

.tabs button.active {
  border-bottom-color: #007bff;
  color: #007bff;
}

.auth-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-form input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.auth-form button {
  width: calc(100% + 20px);
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.auth-form button:hover {
  background-color: #0056b3;
}

.auth-form button[disabled] {
  background-color: #e0e0e0; /* Серый цвет фона */
  color: #a1a1a1; /* Серый цвет текста */
  cursor: not-allowed; /* Изменение курсора на "недоступный" */
}

.checkbox-container {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.checkbox-container input[type="checkbox"] {
  flex-shrink: 0; /* Запрет уменьшения размера */
  margin-right: 15px; /* Небольшое расстояние между чекбоксом и текстом */
  cursor: pointer;
}

.checkbox-container label {
  flex-grow: 1; /* Занимает все доступное пространство, чтобы текст был на одной строке */
}


.checkbox-container input[type="checkbox"] {
  display: inline-block;
  position: relative;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}

.checkbox-container input[type="checkbox"]:checked::after {
  content: '\2714';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkbox-container label {
  display: inline-block;
  vertical-align: middle;
}

.error {
  color: red;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный цвет */
  z-index: 1000; /* Устанавливаем высокий z-index, чтобы перекрыть всю страницу */
  display: flex;
  justify-content: center; /* Центрируем контент по горизонтали */
  align-items: center; /* Центрируем контент по вертикали */
}

.success-popup {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Тень для создания эффекта всплывающего окна */
  max-width: 400px; /* Максимальная ширина модального окна */
  text-align: center; /* Выравниваем текст по центру */
}

.success-popup button {
  margin-top: 20px; /* Отступ сверху для кнопки */
  padding: 10px 20px;
  border: none;
  background-color: #007bff; /* Цвет фона кнопки */
  color: white; /* Цвет текста кнопки */
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Плавное изменение цвета фона при наведении */
}

.success-popup button:hover {
  background-color: #0056b3; /* Цвет фона кнопки при наведении */
}

.success-popup p {
  margin-bottom: 20px; /* Отступ снизу для текста */
  font-size: 16px; /* Размер текста */
}

