.auth-page {
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tabs {
  display: flex;
  margin-bottom: 20px;
}

.tabs button {
  flex: 1;
  padding: 10px;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  color: #666;
  cursor: pointer;
  font-size: 16px;
  outline: none;
}

.tabs button.active {
  border-bottom-color: #007bff;
  color: #007bff;
}

.auth-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-form input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.auth-form button {
  width: calc(100% + 20px);
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.auth-form button:hover {
  background-color: #0056b3;
}

.auth-form button[disabled] {
  background-color: #e0e0e0; /* Серый цвет фона */
  color: #a1a1a1; /* Серый цвет текста */
  cursor: not-allowed; /* Изменение курсора на "недоступный" */
}

.error {
  color: red;
}